.website{
   width: 20%;
   
   display: flex;
   justify-content: center;
   justify-content: space-around;
  margin-left: 710px;
  text-align: center;
 }
 .website img{
     width: 90%;
     padding: 4px 4px 4px 4px;
     border: 1px solid transparent;
     background-color: #343a402f;
   
 }
 footer div p{
     color: white;
     display: flex;
     justify-content: center;
     line-height: 20px;
 }
 footer{
     margin-bottom: 40px;
 }
 a img:hover{
cursor: pointer;
background-color: orangered;
 }
 @media(max-width:1024px){
    .website{
        margin-left: 400px;
    }
 }
 @media(max-width:320px){
     .website{
         margin-left: 150px;
     }
 }
 @media(max-width:375px){
     .website{
         margin-left: 0%;
     }
 }
 @media(max-width:425px){
     .website{
         margin-left: 0%;
     }
 }