.newnew{
    display: flex;
    background: #0c0f16;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.nav-div{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-div a{
    color:white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-style: opensize;
    background-color: transparent;
}

.newnew span{
    color: orange;
    font-size: 30px;
}
h3{
    font-size: 30px;
    font-weight: 900;
    color: white;
    font-family: 'Rubik', sans-serif;
}
.menu-div{
    display: none;
}
@media(max-width:768px){
    .nav-div{
        width: 50%;
    }
}
@media(max-width:320px){

    .nav-div{
        display: none;
    }
    .menu-div{
        display: flex;
        align-items: center;
        text-align: end;
        padding-top: 20px;
        width: 50%;
    }
  
}
@media(max-width:375px){

    .nav-div{
        display: none;
    }
    .menu-div{
        display: flex;
        align-items: center;
        text-align: end;
        padding-top: 20px;
        width: 90%;
    }
  header{
      width: 100%;
  }
}
@media(max-width:425px){

    .nav-div{
        display: none;
    }
    .menu-div{
        display: flex;
        align-items: center;
        text-align: end;
        padding-top: 20px;
        width: 50%;
    }
}
    