body{
    background: #0c0f16;
}
.section1{
    height: 100vh;
    background-image: url('http://taylor-swift.ru/news1/2017/avril_lavin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 38px;
}

h3{
    font-size: 30px;
    font-weight: 900;
    color: white;
    font-family: 'Rubik', sans-serif;

}

.h2{
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    color: #ffffff;
}

.hmm{
    color: white;
    text-align: center;
    font-size:70px;
    font-weight:900;
    margin-bottom: 20px;
    margin-top: 10px;
}

.text-center {
    text-align: center;
    padding-top: 300px;
}
.imgin{
    padding-right: 20px;
}
.web{
    width: 18%;
   text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
   margin-left: 740px;
}
.web img{
    width: 60%;
     padding: 4px 4px 4px 4px;
     border: 1px solid transparent;
     background-color: #343a402f;
   
}
.section1 .sec .text-center .web a img:hover{
    cursor: pointer;
background-color: transparent;
   
}

.ros-btn{
    
   background: rgb(255, 123, 29);
    border: none;
    border: orangered;
    height: 50px;
    width:150px;
    color: white;
    border-radius: 30px;
}
.web2 button.ros-btn:hover{
cursor: pointer;
background: black;

border-color: orangered;
}


@media(max-width:1024px){
    .section1{
        height: 80vh;
        width: 104%;
    }
    .web{
        margin-left: 430px;
    }
}

@media (max-width: 768px){
    .text-center {
        padding-top: 80px;
    }
    .section1{
        width: 94.4%;
        height: 60vh;
    }
}


@media(max-width:320px){
   .section1{
       width: 100%;
       height: 60vh;
   }
   .h2{
       font-size: 14px;
   }s
   .hmm{
       font-size: 25px;
   }
   .web{
       margin-left: 120px;
       width: 26%;
   }
   .ros-btn{
       width: 30%;
   }
}

@media(max-width:375){
    .section1{
        /*width: 90%;
        height: 80vh;*/    
    }

}
@media(max-width:425px){
    .section1{
        width: 90%;
        height: 80vh;    
    }

}