@import url('reset.css');
@import url('header.css');
@import url('main.css');
@import url('section2\ .css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:wght@100&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Aclonica&family=Josefin+Sans:wght@100&family=Quicksand:wght@300&display=swap');
@import url('section3.css');
@import url('section4.css');
@import url('section-5.css');
@import url('section-6.css');
@import url('section-7.css');
@import url('section-8.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('section-9.css');
@import url('section-10.css');
@import url('footer.css');