.Recent-Portfolio{
    display: flex;
    align-items: center;
  justify-content: center;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 10px;
}

    hr{width:19%;
   height: 0.4px;
   margin-bottom: 60px;
}

.btn{
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: 650px;
    border: none;
}
.btn button{
    background-color: rgba(128, 128, 128, 0.171);
    border-radius: 17px;
   font-size: 19px;
   border: none;
   color: white;
   text-align: center;
  padding-right: 7px;
  margin-bottom: 60px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(226, 84, 32);
    border: none;
}
.all{
    background: rgb(226, 84, 32);
}
div img{
    width: 30%;
    margin-bottom: 30px;
    border-radius: 13px;
    
}
.img{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin-left: 150px;
}
.general div p{
    margin-top: 10px;
    position: relative;
    padding: 10px 0px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 15px;
    color: #fff !important;
    font-weight: 900;
    background: transparent;
    font-family: 'Teko', sans-serif;
    font-family: 'Abel', sans-serif;
    font-family: 'Aclonica', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    background-color: #333333;
    margin-left: 780px;
}
.general{
    margin-bottom: 80px;
}
@media(max-width:1024px){
   .btn{
       margin-left: 350px;
   }
   .general div p{
       margin-left: 400px;
   }
   div .img{
       width: 65%;
   }
}
@media(max-width:320px){
    .btn button{
        font-size: 11px;
        width: 90%;
    }
    .btn{
        margin-left: 100px;
    }
    .general div p{
        margin-left: 60px;
        font-size: 7px;
    }

    .img img{
        width: 100%;
    }
    .img{
        margin-left: 60px;
    }
}
@media(max-width:375px){

}
@media(max-width:425px){
    
}