.section7{
    
    background-color: #343a402f;
}
.Testimonials{
    padding-top: 70px;
    display: flex;
    align-items: center;
  justify-content: center;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 10px;
}
hr{width:19%;
    height: 0.4px;
    margin-bottom: 60px;
 }
 
.omg{
     width: 48%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     margin: auto;
     padding-bottom: 90px;
 }
 .omg img{
    border-radius: 50%;
    border: 5px solid #ffffff;
    width: 110px;
    margin: 0 auto;
    border-left-color: #f55422;
    border-bottom-color: #f55422;
    margin-bottom: 12px;
}
     
 
 .omg div p{
    font-size: 16px;
    color: #ccc;
    font-style: italic;
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
}
.omg div h3{
    color: white;
    font-size: 17px;
    margin-left: 202px;
}
.omg div h3 span{
    color: white;
    font-size: 12px;
}
@media(max-width:1024px){
  .omg div h3{
      margin-left: 120px;
  }
}
@media(max-width:320px){
    .omg{
        width: 100%;
    }
  .omg div h3{
      margin-left: 20px;
  }
}
@media(max-width:375px){

}
@media(max-width:425px){
    
}