.My-Skills{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    font-weight: 900;
    padding-bottom: 10px;
}
hr{
    width:13%;
   height: 0.4px;
   margin-bottom: 60px;
}
.section6{
    width: 100%;
}
.dub{
display: flex;

width: 80%;
margin-left: 270px;
line-height: 3px;
margin-bottom: 70px;
flex-wrap: wrap;
}
.dub1{
    margin-left: 90px;
}
.dub2{
    margin-left: 30px;
}

.dub hr{
    height: 4px;
    width: 100%;
    border-radius: 1px;
    border: none;
    background: linear-gradient(to right, #FF4500 90% , grey 10%);
}

.dub p{
    color: white;
    font-size: 14px;
    font-weight: 600;
   
    
}
.dub p span{
    width: 100%;
    margin-left: 400px;
}
@media(max-width:1024px){
    .dub{
        width: 5%;
        margin-left: 140px;
        line-height: 3px;
    }
    .dub2{
        margin-left: 90px;
    }
   .dub p{
       font-size: 9px;
   }
}

@media (max-width: 768px){
    .dub2 {
        margin-left: 90px;
    }
}
@media(max-width:320px){
  .dub{
      margin-left: 0%;
      width: 90%;
  }
    .dub1, .dub2{
        width: 88%;
        margin-left: 24px;
    }
    .dub p span{
        margin-left: 100px;
    }
}
@media(max-width:375px){

}
@media(max-width:425px){
    
}