.BlogArticle{
    padding-top: 70px;
    display: flex;
    align-items: center;
  justify-content: center;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 10px;
}
hr{ width:15%;
    height: 0.4px;
    margin-bottom: 60px;
 }
 .input{
   margin-left: 350px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-bottom: 150px;
     background-color: #11141B;
    padding-top: 20px;
    width: 60%;
 }
 .input input{
    width: 60%;
    padding: 15px 0px;
    color: #fff;
    border: 0;
    font-size: 14px;
    border-bottom: 1px solid #353535;
    font-weight: 400;
    background: transparent;
}
.name{
    display: flex;
    justify-content: center;
    width: 40%;
    display: flex;
    margin-left: 40px;
}
.mess{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sub{
    
    width: 40%;
}
.input h6{
    padding: 9px 15px;
   color: white;
   margin-bottom: 17px;
   background-color:  black;
   opacity: 0.6;
   margin-top: 15px;
}
.input button{
    background-color: transparent;
    border: none;
}
@media(max-width:1024px){
    .input{
        margin-left: 170px;
    }
}
@media(max-width:320px){
    .input{
        width: 96%;
        margin-left: 0%;
    }
}
@media(max-width:375px){
    .input{
        width: 70%;
        margin-left: 0%;
    }
}
@media(max-width:425px){
    .input{
        width: 75%;
        margin-left: 0%;
    }
}