.hhh{
    display: flex;
    align-items: center;
    justify-content: center;
   
    font-size: 37px;
    font-weight: 800;
    padding-bottom: 10px;
}
    hr{
     width:15%;
    height: 0.4px;
    }

.section2{
    padding: 40px 150px;
    padding-left: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 35px;
}
.content1{
    
    border-radius:15px;
    border-color: black;
    border-top:20px solid white;
   border-bottom:20px solid white;
    border-right:20px solid white;
    border-left:20px solid white;
}
.content1 img{
    margin-bottom: 0px;
    border:1px solid black;
    border-radius: 0%;
    width: 100%;
}
.content2{
    width: 40%;
    margin-left: 25px;

}
.h22{
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.lav{
    color: #ffc209;
}
.pp{
    margin: 10px 0 20px;
    color: #c3c3c3;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
.pp1{
    font-family: 'Abel', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    padding: 0;
    margin: 0;
    
    font-size: 14px;
    color: #c5c5c5;
    line-height: 24px
}
.pp2{
    
    font-amily: 'Abel', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    padding: 0;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #c5c5c5;
}
.after-btn {
    margin-top: 10px;
    position: relative;
    padding: 10px 0px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 15px;
    color: #fff !important;
    font-weight: 900;
    background: transparent;
    font-family: 'Teko', sans-serif;
    font-family: 'Abel', sans-serif;
    font-family: 'Aclonica', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    
}
@media(max-width:1024px){
   .section2{
       width: 74%;
   }
   .content1{
       width: 50%;
   }
   .content2{
       width: 40%;
   }
   .h22{
    font-size: 19px;
}
.pp1{
    font-size: 11px;
    line-height: 17px;
}
.pp2{
    font-size: 11px;
    line-height: 17px;
}
}

@media (max-width: 768px){
    .content1, .content2{
        width: 90%;
        padding-top: 30px;
    }

    .section2 {
        width: 60%;
    }
}
@media(max-width:320px){
    .section2{
        width: 70%;
        padding-left: 0%;
        padding-bottom: 40px;
        padding-top: 5px;
        margin-left: 30px;
    }
    .content1{
        padding-top: 0%;
        width: 100%;
    }
    .content2{
        width: 100%;
    }
    .pp1, .pp2{
        font-size: 7px;
    }
}
@media(max-width:375px){

}
@media(max-width:425px){
    
}