.myservice h3{
    display: flex;
    align-items: center;
    justify-content: center;
   
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 10px;
   
}
 hr{
    width:5%;
   height: 0.2px;
   margin-bottom: 60px;
   }
   .section3{
       display: flex;
      flex-wrap: wrap;
       justify-content: space-around;
       width: 80%;
       margin: auto;
       margin-bottom: 80px;
       padding-bottom: 120px;
   }

   .card1{
    width: 25%;
    text-align: center;
    background-color: #2d3236;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;

   }
   .card1 img{
         width: 15%;
         padding-bottom: 20px;
   }
   .card1 h1{
       color: white;
       font-size: 18px;
       font-weight: 600;
   }
   .card1 p{
    font-size: 14px;
    color: #885e5e;
    font-family: 'Abel', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    padding: 0;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #c5c5c5;
   }
   .card2{
    width: 25%;
    text-align: center;
    background-color: #2d3236;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
}
.card2 img{
      width: 15%;
      padding-bottom: 20px;
}
.card2 h1{
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}
.card2 p{
    font-size: 14px;
    color: #885e5e;
    font-family: 'Abel', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    padding: 0;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #c5c5c5;
    
   }
.card3{
    width: 25%;
    text-align: center;
    background-color: #2d3236;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
}
.card3 img{
      width: 15%;
      padding-bottom: 20px;
}
.card3 h1{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.card3 p{
    font-size: 14px;
    color: #885e5e;
    font-family: 'Abel', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    padding: 0;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #c5c5c5;
   }
@media(max-width:320px){
    .myservice h3{
        font-size: 32px;
    }
    .section3{
        width: 70%;
        padding-bottom: 15px;
    }
    .card1{
        display: none;
    }
    .card2{
        display: none;
    }
    .card3{
        width: 90%;
    }
}
@media(max-width:375px){

}
@media(max-width:425px){
    
}