.BlogArticle{
    padding-top: 70px;
    display: flex;
    align-items: center;
  justify-content: center;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 10px;
}
hr{width:15%;
    height: 0.4px;
    margin-bottom: 60px;
 }
 .bar{
     width: 25%;
     display: flex;
     flex-wrap: wrap;
     background-color: #343a402f;
     position: relative;
     margin-right: 30px;
 }
 .bar img{
     width: 100%;
     border-radius: 0%;
 }
 .date{
     background-color: orangered;
     height: 60px;
     width: 70px;
     position: absolute;
     right: 0;
    top: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 2px;
    margin-right: 15px;
    padding-top: 10px;
    font-weight: 600;
 }
.bar i span{
   font-size: 12px;
}
.blog{
    display: flex;
    flex-wrap: wrap;
    margin: 8px 20px 7px 20px;

}
.blog h1{
    color:white;
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 600;

}
.blog p{
    font-family: 'Abel', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
}
.blog h6{
   padding: 9px 15px;
   color: white;
   margin-bottom: 17px;
   background-color:  black;
   opacity: 0.6;
}
.section8{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 90px;
}
@media(max-width:320px){
    .bar{
        width: 100%;
        margin-left: 30px;
        margin-bottom: 20px;
    }
}
@media(max-width:375px){
    
}
@media(max-width:425px){
    
}