.worked{
    display: flex;
    align-items: center;
    justify-content: center;
   
    font-size: 37px;
    font-weight: 800;
    padding-bottom: 10px;
}
hr{
    width:20%;
   height: 0.4px;
   margin-bottom: 60px;
   }
   .cards{
       display: flex;
       
       width: 80%;
      margin-left: 130px;
       
   }
   .crd1{
       padding-top: 15px;
       padding-bottom: 15px;
 background-color: rgba(0, 0, 0, 0.185);
 width: 40%;
 margin: auto;
 margin-bottom: 90px;
 padding-left: 90px;
 
   }
   
   .kard h1{
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
   
    margin-bottom: 10px;
   }
   .kard p{
    font-size: 14px;
    color: #885e5e;
    font-family: 'Abel', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 24px;
    color: #c5c5c5;
    
   }
   .box{
       margin-top: 5px;
background-color: orangered;
color: white;
width: 15%;
height: 14px;
font-size: 11px;
padding-top: 2px;
display: flex;
text-align: center;
justify-content: space-around;
font-weight: 600;
   }
@media(max-width:1024px){
    .cards{
        width: 90%;
        margin-left: 20px;
    }
}
@media(max-width:320px){
    .cards{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 43px;
    }
    .crd1{
        padding-left: 0%;
        width: 90%;
    }
    .kard .box{
        width: 50%;
    }
}
@media(max-width:375px){

}
@media(max-width:425px){
    
}