.karta{
    background-image: url('http://vnewyorke.com/wp-content/uploads/2013/05/harlemsd1.jpg');
    margin-bottom: 40px;
    height: 500px;
}
@media(max-width:320px){
  .karta{
      height: 300px;
  }
}
@media(max-width:375px){
  .karta{
    height: 2s50px;
  }
}